[Unit]
Description=Run News Digest Daily Report at 08:30 Moscow Time

[Timer]
OnCalendar=*-*-* 05:30:00 UTC
Unit=news-digest-collect.service
Persistent=true

[Install]
WantedBy=timers.target
