[Unit]
Description=Run News Digest Daily Report at 12:00 Moscow Time

[Timer]
OnCalendar=*-*-* 09:00:00 UTC
Unit=news-digest-collect.service
Persistent=true

[Install]
WantedBy=timers.target
